[run]
omit = ./venv/*,*tests*,*__init__.py,./examples/*,./petisco/cli/*,./petisco/legacy/*,./petisco/extra/sqlmodel/*,./.mysqldata/*

[report]
exclude_lines = raise NotImplementedError, raise NotImplementedMethodError