[flake8]
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    build,
    tests/conftest.py,
    # Tricky imports
    petisco/__init__.py,
    petisco/public_api.py,
    petisco/legacy/__init__.py,
    petisco/frameworks/flask/application/__init__.py


max-line-length = 110

select = C,E,F,W,B,B950
ignore = E501, W503