openapi: 3.0.0
info:
  description: Petisco Example
  version: 1.0.0
  title: Petisco
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'


paths:
  /healthcheck:
    get:
      summary: Returns healthcheck information.
      operationId: tests.integration.controller.application.controllers.healthcheck_controller.get_healthcheck
      responses:
        200:
          description: The healthcheck was successful.
          content:
            application/json:
              schema:
                type: string

  /environment:
    get:
      summary: Returns environment information.
      operationId: tests.integration.controller.application.controllers.environment_controller.get_environment
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: The information has been returned.
          content:
            application/json:
              schema:
                type: string
        401:
          description: Access token or API key is missing or invalid.
  /sum:
    post:
      summary: Returns sum value.
      operationId: tests.integration.controller.application.controllers.sum_controller.sum
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - value_1
                - value_2
              properties:
                value_1:
                  type: integer
                value_2:
                  type: integer
      responses:
        200:
          description: The sum was successful.
          content:
            application/json:
              schema:
                type: string


servers:
  - url: 'https://apis.alicebiometrics.com/petisco'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      x-apikeyInfoFunc: petisco.frameworks.flask.application.api_key_info_func