openapi: 3.0.0
info:
  description: Petisco Example
  version: 1.0.0
  title: Petisco
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'


paths:
  /healthcheck:
    get:
      summary: Returns healthcheck information.
      operationId: petisco.healthcheck
      responses:
        200:
          description: The healthcheck was successful.
          content:
            application/json:
              schema:
                type: string
        503:
          description: Error connecting with configured persistence (Database Connection)

  /environment:
    get:
      summary: Returns environment information.
      operationId: petisco.environment
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: The information has been returned.
          content:
            application/json:
              schema:
                type: string
        401:
          description: Access token or API key is missing or invalid.
        500:
          description: Unexpected Error obtaining environment info
  /sum:
    post:
      summary: Returns sum value.
      operationId: tests.end2end.flask_app.sum.application.sum_controller.sum
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - value_1
                - value_2
              properties:
                value_1:
                  type: integer
                value_2:
                  type: integer
      responses:
        200:
          description: The sum was successful.
          content:
            application/json:
              schema:
                type: string

  /user:
    post:
      summary: Creates a user (dummy)
      operationId: tests.end2end.flask_app.user.application.create_user_controller.create_user
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        200:
          description: The information has been returned.
          content:
            application/json:
              schema:
                type: string
        401:
          description: Access token or API key is missing or invalid.
  /user/name:
    get:
      summary: Get user name
      operationId: tests.end2end.flask_app.user_name.application.get_user_name_controller.get_user_name
      security:
        - BearerAuth: []
      responses:
        200:
          description: The information has been returned.
          content:
            application/json:
              schema:
                type: string
        401:
          description: Access token or API key is missing or invalid.

  /users/count:
    get:
      summary: Get users count
      operationId: tests.end2end.flask_app.users_count.application.get_users_count.get_users_count
      security:
        - BearerAuth: [ ]
      responses:
        200:
          description: The information has been returned.
          content:
            application/json:
              schema:
                type: string
        401:
          description: Access token or API key is missing or invalid.


servers:
  - url: 'https://apis.alicebiometrics.com/petisco'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: petisco.frameworks.flask.application.security_schemas.not_implemented_bearer_info_func
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      x-apikeyInfoFunc: petisco.frameworks.flask.application.security_schemas.api_key_info_func